$week: (
  tue: 1,
  wed: 2,
  thu: 3,
  fri: 4,
  sat: 5,
  sun: 6
);

* {
  box-sizing: border-box;
}

html {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.calendar {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.calendar div:nth-child(-n + 31) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 100px;
  height: 100px;
  margin-right: 1px;
  background-color: #eee;
  border: 1px solid black;
}

@for $i from 1 through 31 {

  .calendar div:nth-child(#{$i})::after {
    content: "#{$i}";
  }
}

@for $i from 28 to 31 {
  .calendar-#{$i} > div:nth-child(n + #{$i + 1}) {
    display: none;
  }
}

.calendar div:hover {
  background-color: pink;
  position: relative;
  top: -20px;
}

@each $day, $value in $week {
  .calendar-#{$day} {
    > :first-child {
      margin-left: $value*101px;
    }
  }
}
